.middle * {
    vertical-align: middle;
}

div.configuration_pane {
    display: block;
    font-size: 12px;
    width: 230px;
    height: 150px;
    line-height: 30px;
}

div.tab_container {
    width: 220px;
    height: 150px;
    line-height: 30px;
}

div.muteUser_container {
    width: 100%;
    height: 100%;
}

div.muteUser_grid {
    width: 100%;
    height: 100%;
}

.dojoxGrid table {
    margin: 0;
}

.dojoxGrid-header {
    display:none;
}

.muteUser_delete_button {
    height: 50px;
}

#heightSliderValue {
    text-align: center;
}